<div class="h-full p-7">
  <h1 class="w-8">We believe in sustainable decor. We’re passionate about life at home.</h1>
  <p class="w-8">
    Our features timeless furniture, with natural fabrics, curved lines, plenty
    of mirrors and classic design, which can be incorporated into any decor
    project. The pieces enchant for their sobriety, to last for generations,
    faithful to the shapes of each period, with a touch of the present
  </p>
  <div class="flex flex-column font-medium ">
    <div class="p-float-label mt-5 w-full">
      <input pInputText id="name" type="text" class="w-5" />
      <label for="name">Your Name</label>
    </div>
    <div class="p-float-label mt-5 w-full">
      <input pInputText id="email" type="email" class="w-5" />
      <label for="email">Email address</label>
    </div>
    <div class="p-float-label mt-5">
        <textarea id="float-input" rows="5" cols="30" pInputTextarea></textarea>
        <label for="float-input">Message</label>
    </div>
    <p-button label="Send Message" ></p-button>
  </div>
</div>
