<div class="container p-5 flex flex-column justify-content-between">
  <div class="header mb-2">
    <div class="text w-full">
      <h1>Shop Page</h1>
      <p>Let’s design the place you always imagined.</p>
    </div>
    <img src="./assets/images/shopPlaceholder.png" alt="" />
  </div>

  <p-dataView
    #dv
    [value]="products"
    [layout]="layout"
    [sortField]="sortField"
    [sortOrder]="sortOrder"
  >
    <ng-template pTemplate="header">
      <div class="flex justify-content-between">
        <div class="gap-2 flex flex-column md:flex-row md:justify-content-between">
          <p-dropdown
            [options]="sortOptions"
            placeholder="Sort By Price"
            (onChange)="onSortChange($event)"
            styleClass="mb-2 md:mb-0"
          ></p-dropdown>

          <p-dropdown
            [options]="categories"
            [(ngModel)]="selectedCategory"
            placeholder="Categories"
          ></p-dropdown>
        </div>
        <p-dataViewLayoutOptions [layout]="layout"></p-dataViewLayoutOptions>
      </div>
    </ng-template>

    <ng-template let-product pTemplate="list" let-products>
      
     
      <div class="grid grid-nogutter">
        @for(product of filterProducts(); track product){
        <div class="col-12">
          <div
            class="flex flex-column xl:flex-row xl:align-items-center p-4 gap-4"
          >
            <img
              class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round"
              [src]="product.image"
              [alt]="product.name"
            />
            <div
              class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4"
            >
              <div
                class="flex flex-column align-items-center sm:align-items-start gap-3"
              >
                <div class="text-2xl font-bold ">
                  {{ product.name }}
                </div>
              </div>
              <div
                class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
              >
                <span class="text-2xl font-semibold">{{
                  "$" + product.price
                }}</span>
                <div class="flex align-items-center gap-1">
                  <p-button icon="pi pi-heart" [rounded]="true" />
                  <p-button icon="pi pi-shopping-cart" [rounded]="true" />
                </div>
              </div>
            </div>
          </div>
        </div>
      }
      </div>
      
    </ng-template>

    <ng-template let-product pTemplate="grid" let-products>
      <div class="grid grid-nogutter">
        @for(product of filterProducts(); track product){
        <div class="col-12 sm:col-6 lg:col-12 xl:col-4 p-2">
          <div class="p-4 border-1 surface-border surface-card border-round">
            <div class="flex flex-column align-items-center gap-3 py-5">
              <img
                class="w-9 shadow-2 border-round"
                [src]="product.image"
                [alt]="product.name"
              />
              <div class="text-2xl font-bold">{{ product.name }}</div>
            </div>
            <div class="flex align-items-center justify-content-around w-full">
              <span class="text-2xl font-semibold">{{
                "$" + product.price
              }}</span>
              <div class="flex align-items-center gap-1">
                <p-button icon="pi pi-heart" [rounded]="true" />
                <p-button icon="pi pi-shopping-cart" [rounded]="true" />
              </div>
            </div>
          </div>
        </div>
        }
      </div>
    </ng-template>
  </p-dataView>
</div>
