:host {
  img {
    display: block;
    width: 100%;
  }
  .header {
    position: relative;
  }
  .text {
    height: 100%;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  ::ng-deep {
    .p-highlight {
      button {
        background-color: #000;
      }
    }
    p-button {
      .p-element {
        background-color: #000;
      }
    }
  }
  @media (max-width:700px) {
    .text{
      font-size: smaller;
    }
  }
}
