<footer class="p-5">
  <div class="upper flex justify-content-between align-items-center ">
    <div class="logo flex justify-content-between align-items-center w-3 gap-3">
      <img src="./assets/svgs/logos/footer-logo.svg" alt="Logo" />
      <div><hr class="hr1" /></div>
      <p>Gift & Decoration Store</p>
    </div>
    <ul class="flex justify-content-between w-3 gap-1">
      <li>Home</li>
      <li>Shop</li>
      <li>Contact</li>
    </ul>
  </div>
  <hr class="hr2" />
  <div class="lower flex align-items-center justify-content-between ">
    <div class="copy-rights flex justify-content-between w-6">
      <p>Copyright © 2023 3legant. All rights reserved</p>
      <p><strong>Privacy Policy</strong></p>
      <p><strong>Terms of Use</strong></p>
    </div>

    <div class="social-icons flex justify-content-evenly w-1">
      <button type="button" class="icon-button">
        <img src="./assets/svgs/icons/instagram.svg" alt="Shopping cart icon" />
      </button>
      <button type="button" class="icon-button">
        <img src="./assets/svgs/icons/facebook.svg" alt="Shopping cart icon" />
      </button>
      <button type="button" class="icon-button">
        <img src="./assets/svgs/icons/youtube.svg" alt="Shopping cart icon" />
      </button>
    </div>
  </div>
</footer>
